<nav class="top-nav" id="top-nav">
  <a href="http://www.asofterworld.com/">wham<span class="bangbangbang">!!!</span></a>
  <a href="http://soopahcomics.com/">bam<span class="bangbangbang">!!!  </span></a>
  <a href="http://www.marriedtothesea.com/">pow<span class="bangbangbang">!!!</span></a>
  <a href="https://google.com/">bang<span class="bangbangbang">!!!</span></a>
  <!--"Hamburger menu" / "Bar icon" to toggle the navigation links-->
  <a class="icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></a>
</nav>