:root {
  // --font-size: 1.0rem;
  // --h1-font-size: 1.5rem;
  // --h2-font-size: 1.3rem;
  // --h3-font-size: 1.1rem;
  // --h4-font-size: 0.9rem;
  // --h5-font-size: 0.7rem;
  // --h6-font-size: 0.5rem;
    --font-size: 1.1rem;
    --h1-font-size: 4.1rem;
    --h2-font-size: 3.6rem;
    --h3-font-size: 3.1rem;
    --h4-font-size: 2.6rem;
    --h5-font-size: 2.1rem;
    --h6-font-size: 1.6rem;

  @media screen and (min-width: 25em) {
    --font-size: 1.5rem;
    --h1-font-size: 5rem;
    --h2-font-size: 4.4rem;
    --h3-font-size: 3.8rem;
    --h4-font-size: 3.2rem;
    --h5-font-size: 2.6rem;
    --h6-font-size: 2.1rem
  }

  @media screen and (min-width: 50em) {
    --font-size: 1.7rem;
    --h1-font-size: 5rem;
    --h2-font-size: 4.4rem;
    --h3-font-size: 3.8rem;
    --h4-font-size: 3.2rem;
    --h5-font-size: 2.6rem;
    --h6-font-size: 2.1rem;
  }

  @media screen and (min-width: 70em) {
    --font-size: 1.5rem;
    --h1-font-size: 6.5rem;
    --h2-font-size: 5.9rem;
    --h3-font-size: 5.3rem;
    --h4-font-size: 4.7rem;
    --h5-font-size: 4.1rem;
    --h6-font-size: 3.5rem;
  }

  // @media screen and (min-width: 75em) {
  //   --h1-font-size: 5rem;
  //   --h2-font-size: 4.4rem;
  //   --h3-font-size: 3.8rem;
  //   --h4-font-size: 3.2rem;
  //   --h5-font-size: 2.6rem;
  //   --h6-font-size: 2.1rem;
  // }
  @media screen and (min-width: 107em) {
    --font-size: 1.0rem;
    --h1-font-size: 5rem;
    --h2-font-size: 4.4rem;
    --h3-font-size: 3.8rem;
    --h4-font-size: 3.2rem;
    --h5-font-size: 2.6rem;
    --h6-font-size: 2.1rem;
  }
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}