
:root {
  --comic-panel-width: 14rem;
  --comic-panel-height: 14rem;
  --flex-basis: 100%;

  @media screen and (min-width: 25em) {
    --comic-panel-width: 20rem;
    --comic-panel-height: 20rem;
  }

  @media screen and (min-width: 50em) {
    --comic-panel-width: 25rem;
    --comic-panel-height: 25rem;    
  }

  @media screen and (min-width: 107em) {
    --flex-basis: auto;
  }
}
.comic {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 2.5rem;
  // border-style: solid;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  // border-width: 4px;
}
.comic a {
  color: black;
}
.comic .title {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.comic-panels {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  // justify-content: center;
}

.comic-panel {
  position: relative;
  flex-basis: var(--flex-basis);
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  height: var(--comic-panel-height);
  width: var(--comic-panel-width);
  display: flex;
  justify-content: center;
}

.comic-content {
  position: relative;
  height: var(--comic-panel-height);
  width: var(--comic-panel-width);
}

.comic-content img {
  height: var(--comic-panel-height);
  width: var(--comic-panel-width);
  border-style: solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-width: 4px;
  margin: 0.5rem;
}


.comic-content .comic-caption {
  position: absolute;
  margin-top: 1.0rem;
  margin-left: 1.0rem;
  border-style: solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-width: 4px;
  background: yellow;
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.comic-content:hover .comic-overlay {
  position: absolute;
  border-style: solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-width: 4px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.60);
  display: block;
  margin: 0.5rem;
  // z-index: 3;
}


.comic-content .comic-description {
  display: none;
  position: absolute;
  margin-top: 19.0rem;
  margin-left: 1.0rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  min-height: 4rem;
  min-width: 90%;
  max-width: 90%;

  border-style: solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-width: 4px;
  padding: 0.5rem;
  background: yellow;
}

.comic-content:hover .comic-description {
  display: block;
}
