<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/comicbook.js"></script>
    {% seo %}
  </head>
  <body ontouchstart="">
    {% include navigation.html %}
    <main>
      <header>
        {% if site.github.url %}
          <h1 class="title"><a href="{{site.github.url}}" class="site-link">{{site.title}}</a></h1>
        {% elsif site.url %}
          <h1 class="title"><a href="{{site.url}}" class="site-link">{{site.title}}</a></h1>
        {% else %}
          <h1 class="title">{{site.title}}</h1>
        {% endif %}
      </header>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
